@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body{
background-color: rgb(185,255,174);
font-family: 'Indie Flower', cursive;
}

img{
  height: 20vh;
  width: 20vh;
  display: block;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

form{
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: auto;
  width: 50vh;
  border: black 1px solid;
  border-radius: 6px;
}
input,label{
  margin: 1vh;

}
