<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/loader.css">
		<link rel="manifest" href="manifest.json">
    <script src="/assets/js/calcViewPort.js"></script>
    <script src="/assets/js/base.js"></script>
    <script> Base.init(); </script>
		<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
		<link type="text/css" rel="stylesheet" href="assets/css/iconset.css" />

		<meta name="google-signin-client_id" content="858752674560-6emgo7emadgcv30k8k9qfa8mrnsotjph.apps.googleusercontent.com">
        <script type="text/javascript">
            function signOut() {
              var auth2 = gapi.auth2.getAuthInstance();
              auth2.disconnect().then(function () {
                console.log('User signed out.');
              });
              auth2.signOut().then(function () {
                console.log('No Scopes');
              });
              //onclick="location.href='login/logout'"
              setTimeout(logoutPhp(),5000);
            }
            function logoutPhp(){
              window.location.href='login/logout';
            }
            function onLoad() {
              gapi.load('auth2', function() {
                gapi.auth2.init();
              });
            }
        </script>
		<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    </head>
	<body>
		<span id="menuBtn">></span>
		<nav>
			<div class="logo">
				<figure>
				  <img src="/img/logoBlack.png" alt="Logo Fulbito!">
				</figure>
				<h1>Hay Fulbito</h1>
			</div>
			<nav>
				<ul>
					<li class="botonNav boton" onclick="location.href='/perfil'">Mi perfil</li>
					<li class="botonNav boton" onclick="location.href='/equipo'">Mi Equipo</li>
					<li class="botonNav boton" onclick="location.href='/turnos'">Mis turnos</li>
					<li class="botonNav boton" onclick="location.href='/buscarpartido'">Buscar partido</li>
					<li class="botonNav boton" onclick="signOut();">Cerrar sesion</li>
				</ul>
			</nav>
		</nav>
		<div class="background"></div>
