.editar{display: flex;justify-content: center;margin: 5vh 0vw;}
div .equipo > input{
	width: 50%;
	margin: 1vh auto;
}

#miequipoImagen{/* width: 300px; */display: flex;flex-wrap: wrap;flex-direction: column;justify-content: center;align-items: center;}


#miequipoImagen::before{
	 content: 'Logo';
	font-size: 1em;
}

#miequipoDatos > label > input {
    line-height: 3vh;
    width: 20vw;
    font-size: 1em;
}

#miequipoDatos > label .boton {
    min-width: 7vw;
    margin: 1vh 1vw;
}


#miequipoDatos > span {
    margin: 1vh 0vw;
}

#ulHeader {min-height: 5vh;}

.capitan{
	line-height: 4vh;
}
.capitan li:nth-child(1){display: flex;justify-content: center;}
.capitan li:nth-child(2):after {
    content: '(C)';
}

li .icon-pencil {
	width:100%;
}

.icon-pencil.icon-disabled {
	background: rgba(88, 163, 0, 0.53);
	cursor: not-allowed;
}

li .icon-ok{
	width: 49%;
}
li .cancelEdition{
	background: #ea4848;
	width: 49%;
}
li .icon-trash {
    background: #f13232;
    width:100%;
}

ul li img {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ulSinEquipo li ul li:nth-child(4){
	width: 30vw !important;
}

/******/



/****/
/***como jugador***/


#miequipoImagen img{
	/* width: 100%; */
	/* height: auto; */
	/* border-radius: 50%; */
	/* margin: 1vh 0vw; */
}
#miequipoImagen a{
	max-height: 4vh;
	width: 100%;
	margin: 0.5em;
}
#miequipoImagen div{
	font-size: 0.6em;
	width: 90%;
}

#nombre::before{
	content:"Nombre: ";
}
#edad::before{
	content:"Edad: ";
}
#email::before{
	content:"Email: ";
}
#usuario::before{
	content:"Usuario: ";
}
#telefono::before{
	content:"Telefono: ";
}

#miequipoDatos a{
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
}

#miequipoEstadisticas{
	justify-content: space-evenly;
	grid-column: 1 / 4;
	margin: 0em 2em;
}

.anuncio{
	max-width: 70vw;
	grid-column: 1 / 3;
	padding: 0em 10vw;
	display: flex;
	align-items: center;
}
.anuncio img{
	width: 100%;
	max-height: 15vh;
}


input[type="file"]#inputSb {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#miequipoImagen #labelSubir{
	max-height: 3vh;
	width: 100%;
	color: #ffffff;
	text-decoration: none;
	padding: 0;
}
.nombreEquipo{
	display: flex;
	justify-content: center;
}
.nombreEquipo h3{
	font-size: 1.8em;
	text-align: center;
	margin: 0.5vw;
}

#mensajeEquipo{
	display: flex;
	justify-content: center;
	margin: 1vh 0vw;
	text-align: center;
}

#contenedorEquipo form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0vh 1vw;
}
#contenedorEquipo form span{width: max-content;text-align: center;margin: auto;}
#contenedorEquipo form > label{width: min-content;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: start;align-items: baseline;}
#contenedorEquipo form > label > input{
    line-height: 2em;
}
#contenedorEquipo form > label > label{padding: 1vh 1vw;margin: 0vh 0.5vw;display: inline-block;vertical-align: middle;min-width: 3vw;}

.detalles ul li:nth-child(1){
	width: 33% !important;
}
.detalles ul li:nth-child(2){
	width: 33% !important;
}
.detalles ul li:nth-child(3){
	width: 33% !important;
}
/* Mobile view */
@media (max-width: 700px) {
	#contenedorEquipo form > label {
		font-size: 1.8vw;
	}
}
@media (max-width: 600px) {
	#contenedorEquipo form > label {
		font-size: inherit;
	}
	ul li img {
		width: 20px;
		height: 20px;
		min-width: 20px;
	}

	li label.boton {
		padding: 1vh 1.5vw;
		width: -webkit-fill-available;
	}

	.icon-trash {
		background: #f13232;
	}

	.detalles ul:nth-child(odd){
		background: #dff1ca;
	}
	.detalles ul:nth-child(1){
		background: #aae65a;
	}
}

@media (max-height: 600px) {
	#miequipoDatos{
		/* height: 40vh; */
	}
	#mensajeEquipo{
		font-size: .7em;
	}
	.add span {
		font-size: 0;
		display:flex;
		border-radius: 20%;
	}
	.add span:after{
		content: '\f196';
		font-size: 20px !important;
		font-family: 'fontello';
		min-width: 32px;
		font-weight: 100;
	}
	#miequipoImagen img{
		max-height: 10vh;
		max-width: 15vw;
	}
	#miequipoImagen label{
		font-size: .7em;
	}
	#miequipoDatos > ul{
		max-height: 40vh;
	}
}
