@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap')

h1 {
   font-family: 'Indie Flower', cursive;
}

h2{
   font-weight: bold;
   color: black;
   font-size: 4.5vh;
   text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
   font-family: 'Indie Flower', cursive;
}
.background{
    background-image: url('../../img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    transform: translateZ(0) scale(1.0, 1.0);
    animation: animationBG 30s linear 10ms infinite;
    transition:  all 0.2s ease-in-out;
    z-index: -2;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow:hidden;
}

@keyframes animationBG {
    0%{transform:scale(1)}
    50%{transform:scale(1.5)}
    100%{transform:scale(1)}
}
body{
    height: 100vh; /* Para navegadores que no aceptan propiedades customizadas */
    width: 100vw; /* Para navegadores que no aceptan propiedades customizadas */
    height: calc(var(--vh, 1vh) * 100);
    width: calc(var(--vw, 1vw) * 100);
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

#registro {
    width: 50vw;
    background: #ffffffa8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0em 0em 0em;
    font-family: 'Raleway', sans-serif;
    height: 90vh;
}

.loader{
    width:100%;
    position: absolute;
    background: white;
    height: 100%;
    z-index: 4;
}
.loader figure{display: flex;justify-content: center;align-items: center;height: 100%;flex-flow: column;}
.loader figure:after{
   content: 'Cargando...';
   font-weight: bold;
   color: black;
   font-size: 2.5em;
   text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
   font-family: 'Indie Flower', cursive;
   animation: puntosSuspensivos 3s linear infinite;
}
@keyframes puntosSuspensivos {
  0% {
    content: "Cargando";
  }
  33% {
    content: "Cargando.";
  }
  66% {
    content: "Cargando..";
  }
  100% {
    content: "Cargando...";
  }
}
.loader figure img{width: 22%;}

/*  SECTION LOGIN */
.login{
    width: 50vw;
    background: #ffffffa8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0em 0em 0em;
    font-family: 'Raleway', sans-serif;
    height: 90vh;
}

.g-login-button {}

.g-signin2 {width: 100%;}
.login figure{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 15vh;
    max-width: 15vw;
}
.login figure img{
    height: auto;
    width: auto;
    max-width: 15vw;
    max-height: 15vh;
}
.login h1{font-size: 5vh;color: black;line-height: 7vh;text-shadow: 0 2px 2px rgba(0, 0, 0, 0.32);font-family: 'Indie Flower', cursive;}
.login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-transform: uppercase;
}
.login form label{
    width: 100%;
    font-size: 2vh;
    margin: 0.2vh 0em;
}
.login form label input{
    width: 100%;
    background: #ffffffc2;
    border-color: black;
}
.login form div{
    display: flex;
    flex-direction:row;
    width:100%;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.login form div input{
    width: 50%;
    background: #99c35f;
    border-radius: 0.5em;
    font-weight: bold;
    border-color: #3aca17;
    margin: 0.5vh;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0);
    height: 8vh;
}
.login form div input:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: 0.5s;
}
.login form input{height: 5vh;vertical-align: middle;}
.login a{
    color: black;
    margin: .5em;
    font-size: 1.4em;
    text-transform: uppercase;
}
#logTerceros{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logTerceros > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vh 0vw;
}

.pluginLoginButton table .pluginLoginButtonlarge table {
    width: 100%;
}

/*  ---VISTA CELULAR ---  */
  @media (max-width: 600px) {
    .login{
        width: 90vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90vh;
    }
    .login h1{
        display:none;
    }
    .login figure{
        max-width: 50vw;
        align-items: start;
    }
    .login figure:after{
        content:'Hay Fulbito';
        font-size: 8vh;
        color: black;
        line-height: 1em;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.32);
        font-family: 'Indie Flower', cursive;
    }
    .login form{
    font-size: 1.5vh;
    margin: 2vh 0vw;
    }

    .login form label{
        width: 100%;
        margin: 0.2em 0em;
    }
    .login form label input{
    }
    .login form div{
        display: flex;
        flex-direction:row;
        width:100%;
        align-items: center;
        justify-content: center;
    }
    .login form div input{
        font-size: 2.5vh;
    }
    .login form div input:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      transition: 0.5s;
    }
    .login form input{height: 5vh;}
    .login a{font-size: 1em;}
	
	#registro {
		width: 90vw;
		background: #ffffffa8;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 2em 0em 0em 0em;
		font-family: 'Raleway', sans-serif;
		height: 90vh;
	}
  }
/*  ---FIN VISTA CELULAR ---  */

/*  ------FIN SECTION------  */
