.sideSection{
	grid-area:b;
	position: relative;
	min-height: 100vh;
}

.sideSection h1{
	font-size:2em;
	line-height: 15vh;
	padding: 0em 2em;
	display: block;
	background: #ffffffed;
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgba(255, 255, 255, 0.93);
}
.sideSection > div{
	background: #ffffffed;
	margin: .5em 0em 0em 0em;
	height: -webkit-fill-available;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 1fr 1fr;
	max-height: 84vh;
	}

#miPerfilImagen{

width: 100%;

display: flex;

flex-wrap: wrap;

flex-direction: column;

justify-content: center;

align-items: center;
}

#miPerfilImagen img{
	max-width: 25vh;
	max-height: 28vh;
	border-radius: 50%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50%;
}
#miPerfilImagen a{
	max-height: 4vh;
	width: 100%;
	margin: 0.5em;
}
#miPerfilImagen div{
	font-size: 0.6em;
	width: 90%;
}
#miPerfilDatos, #miPerfilEstadisticas{
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
	justify-content: space-evenly;
	margin: 2em;
}
#miPerfilEstadisticas{
}
#nombre::before{
	content:"Nombre: ";
}
#edad::before{
	content:"Edad: ";
}
#email::before{
	content:"Email: ";
}
#usuario::before{
	content:"Usuario: ";
}
#telefono::before{
	content:"Telefono: ";
}

#partidosJugados::before{
	content:"Cantidad partidos Jugados: ";
}

#partidosGanados::before{
	content:"Cantidad partidos Ganados: ";
}

#partidosPerdidos::before{
	content:"Cantidad partidos Perdidos: ";
}

#miPerfilDatos a{
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
}
#miPerfilDatos span{
}
#miPerfilEstadisticas{
	justify-content: space-evenly;
	grid-column: 1 / 4;
	margin: 0em 2em;
}

#editarPerfil{
	display: none;
	animation-name: zoom;
	animation-duration: 0.6s;
	position: fixed;
	z-index: 1;
	width: 50%;
	height: 100%;
	background-color: #f7faf2;
}

#editarPerfil form{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	text-transform: uppercase;
	margin: 5vh 0em 0em 5vh;
}

@keyframes zoom {
  from {transform:scale(0.9)}
  to {transform:scale(1)}
}

#editarPerfil form label {
		width: 100%;
		font-size: 1.3em;
		margin: 0.2em 0em;
}

#editarPerfil form label input {
    width: 100%;
		height: 3em;
    vertical-align: middle;
}

#editarPerfil form div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#editarPerfil form div input{
	font-size: 0.8em;
	color: white;
	width: 100%;
}

input[type="file"]#inputSb {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#miPerfilImagen label{
	max-height: 4vh;
	width: 100%;
	margin: 0.5em;
	color: #ffffff;
	text-decoration: none;
}

.anuncio{
	max-width: 70vw;
	/* grid-column: 1 / 3; */
	padding: 0em 10vw;
	display: flex;
	align-items: center;
}
.anuncio img{
	width: 100%;
	max-height: 15vh;
}
