.sideSection{
	grid-area: b;
	position: relative;
	min-height: 100vh;
}

.sideSection > div{
	background: #ffffffed;
	margin: .5em 0em 0em 0em;
	height: -webkit-fill-available;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 1fr 1fr max-content;
	}

#miPerfilImagen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#miPerfilImagen img{
	width: 20vw;
	height: fit-content;
	max-height: 15vh;
	border-radius: 50%;
}
#miPerfilImagen a{
	max-height: 4vh;
	width: 100%;
	margin: 0.5em;
}
#miPerfilImagen div{
	font-size: 0.6em;
	width: 90%;
}
#miPerfilDatos, #miPerfilEstadisticas{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
	justify-content: space-evenly;
	margin: 5vh 5vw;
}

#nombre::before{
	content:"Nombre: ";
}
#edad::before{
	content:"Edad: ";
}
#email::before{
	content:"Email: ";
}
#usuario::before{
	content:"Usuario: ";
}
#telefono::before{
	content:"Telefono: ";
}

#partidosJugados::before{
	content:"Cantidad partidos Jugados: ";
}

#partidosGanados::before{
	content:"Cantidad partidos Ganados: ";
}

#partidosPerdidos::before{
	content:"Cantidad partidos Perdidos: ";
}

#miPerfilDatos a{
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
}
#miPerfilDatos span{
}
#miPerfilEstadisticas{
	justify-content: space-evenly;
	grid-column: 1 / 4;
	margin: 0em 10vw;
}

#editarPerfil{
	display: none;
	animation-name: zoom;
	animation-duration: 0.6s;
	position: fixed;
	z-index: 1;
	min-width: 80vw;
	background-color: #f7faf2f7;
}

#editarPerfil form{display: flex;flex-direction: column;justify-content: center;align-items: center;text-transform: uppercase;margin: 1vh 2vw;/* background: #f7faf2; */}

@keyframes zoom {
  from {transform:scale(0.9)}
  to {transform:scale(1)}
}

#editarPerfil form label {
		width: 90%;
		font-size: 1.3em;
		margin: 0.2vh 0vw;
}

#editarPerfil form label input {
    width: 100%;
    height: 3em;
    vertical-align: middle;
    padding: 0vh 0.5vw;
}

#editarPerfil form div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

#editarPerfil form div input{
	font-size: 0.8em;
	color: white;
	width: 30vw;
}

input[type="file"]#inputSb {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#miPerfilImagen label{
	max-height: 4vh;
	width: 100%;
	margin: 0.5em;
	color: #ffffff;
	text-decoration: none;
}

.anuncio img{
	width: 100%;
	max-height: 15vh;
}
@media (max-width: 600px){

	#miPerfilDatos a {
	bottom: -5.5vh;
	right: -5vw;
	}


}