/*----------------TURNOS---------------*/

#misturnos{}

#contenedorTurnos > ul{
	display: flex;
	flex-direction: row;
	align-items: start;
	min-height: 20vh;
	margin: 2vh 1vw;
	max-height: 30vw;
}
/* Tabla de turnos */
.botonesTurnos {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 15vw;
}

li.botonesTurnos > div {
    width: 100%;
    padding: 0.7vh 0.5vw;
}

.contenedorTablaTurnos {margin: 1vh 1vw;width: -webkit-fill-available;}

li button {
	min-width: 5vh;
	padding: 1vh !important;
}
.botonesTurnos a {
    width: 100%;
}
#contenedorEquipo h2{
	font-size:1.6em;
	margin: 4vh 0vw;
}

#misturnos > div:nth-child(2){
    display: flex;
    flex-direction: column;
}

.detalles.mostrando {
	display: block;
	height: 30vh;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100% !important;
	background: white;
	border: 0.2vh solid #475b26;
}

.detalles {
	display: none;
}
.masDetalles {
	text-decoration-line: underline;
	line-height: 3em;
	width: 80%;
	text-align: center;
	font-weight: bold;
}

.masDetalles:hover {
	cursor: pointer;
}

.mostrando ul {}
/* TVT */
	#tTvT {display: none;}

	#tTvT .lista6Col > ul li:nth-child(5),
	#tTvT .lista6Row > ul li:nth-child(5){
		width: 20%;
	}
	#tTvT .lista6Col > ul li:nth-child(6),
	#tTvT .lista6Row > ul li:nth-child(6){
		width: 10%;
	}
	#tTvT .lista6Col > ul li:nth-child(7),
	#tTvT .lista6Row > ul li:nth-child(7){
		width: 10%;
		min-width: 3vw;
	}
	#tTvT .lista6Col > ul li:nth-child(8),
	#tTvT .lista6Row > ul li:nth-child(8){
		min-width:60vw;
		width: 100%;
	}
	#tTvT .lista6Col > ul,
	#tTvT .lista6Row > ul{
	}
	#tTvT .lista6Col img {

	}

	#tTvT div > label{

	}

	#tTvI{display: none;}
	#tSolicitudes{
		display: none;
	}
	#registrar{
		position:absolute;
		bottom:2vh;
		width: 100%;
		text-align: center;
	}

	/*		registrarTurno window	*/
	.stepTab{
		display:none;
		margin: 1vh 2vw;
		flex-direction: column;
		justify-content: space-between;
		min-height: 18vh;
		padding: 2vh 0vw;
	}
	.infoCancha{
		display: flex;
		flex-direction: column;
		text-transform: none;
	}

.infoCancha label {
    margin: 1vh 0vw;
}
	#nuevoTurno form > div > button{
		-webkit-appearance: inherit;
		line-height: 0;
		padding: 1em 2em;
	}
	#contenedorAtrasAdelante{
		/* position: absolute; */
		bottom: 0;
		right: 2vw;
	}
	form label select[name="cancha_turno"]{
		
width: 100%;
	}

form label select[name="cancha_turno"] option {
}
	.rechazar{
		padding:0;
		width: 100%;
		font-size: 0.8vw;
	}
	.stepContenedor{margin: 1vh 0vw;}
	.stepTab div .boton {
	margin: auto;
	display: block;
	}
	.step{
	  height: 15px;
	  width: 15px;
	  margin: 0 2px !important;
	  background-color: #bbbbbb;
	  border: none;
	  border-radius: 50%;
	  display: inline-block;
	  opacity: 0.5;
	  padding: 0 !important;
	}
	.step.active {
	  opacity: 1;
	}
	.step.finish {
	  background-color: #4CAF50;
	}
	.hint{
		text-transform: initial;
		font-style: italic;
	}

	#nuevoTurno h5{
		font-size: 2em;
	}
	#nuevoTurno form{display: flex;flex-direction: column;align-items: center;text-transform: uppercase;position: relative;min-width: 50vw;}

	#nuevoTurno form label {
		width: 100%;
	}

	#nuevoTurno form label:nth-child(odd) {
	}
	#resumenTurno{
		display:flex;
		flex-direction:column;
		justify-content:space-evenly;
	}

/* small screens */
	/* width */
	@media (max-width: 1100px) {
		/*BOTONES*/
		.botonesTurnos{
			font-size: .8em;
		}
		.contenedorTablaTurnos{
		}
		.contenedorTablaTurnos button{
			font-size: 0em;
			line-height: 1.5vh;
			letter-spacing: 0;
			font-weight: 100;
		}
		.contenedorTablaTurnos button:after{
			content: '\f1f8';
			font-size: 15px !important;
			line-height: 2vh;
			font-family: "fontello";
		}
		#nuevoTurno form div input,
		#nuevoTurno form div a{
			padding: .5em;
		}
	}
	/* Mobile screen */
	@media (max-width: 600px) {
		#tTvT .lista6Col > ul li:nth-child(5),
		#tTvT .lista6Row > ul li:nth-child(5){
			width: 20%;
		}
		#tTvT .lista6Col > ul li:nth-child(6),
		#tTvT .lista6Row > ul li:nth-child(6){
			width: 5%;
		}
		#tTvT .lista6Col > ul li:nth-child(7),
		#tTvT .lista6Row > ul li:nth-child(7){
			width: 5%;
			min-width: 3vw;
		}
		#contenedorTurnos > ul{
			flex-direction: column;
			margin: 0;
		}
		.botonesTurnos {
			flex-direction: row;
			justify-content: center;
			width: 100%;
			height: 11vh;
			border-top: 2px solid #58a300;
			width: 100%;
		}
		/*BOTONES*/
		.botonesTurnos a{
			height: 100%;
		}
		.contenedorTablaTurnos{
			border-top: 2px solid #58a300;
			margin: 0;
			padding: 1vh 0vw;
			width: 100%;
		}
		.contenedorTablaTurnos button{
			font-size: 0em;
			line-height: 1.5vh;
			letter-spacing: 0;
			font-weight: 100;
			min-width: 5vw !important;
			height: 3vh;
			margin: 0 auto;
			width: min-content;
		}
		.contenedorTablaTurnos button:after{
			content: '\f1f8';
			font-size: 15px !important;
			font-family: 'fontello';
			line-height: 1.5vh;
			padding: 0;
		}
		.masDetalles{
			font-size: 0em;
			line-height: 1.5vh;
			text-decoration-line: none;
			margin: 0 auto;
		}
		.masDetalles:after{
			content: '\f196';
			font-size: 15px !important;
			line-height: 2vh;
			font-family: 'fontello';
		}
		/*	RegistrarTurno*/
		#nuevoTurno{
			display: none;
			/* position: fixed; */
			z-index: 1;
			width: 100%;
			height: 89vh;
			transform: translate(-50%,0%);
			top: 0;
		}
		#nuevoTurno .cerrar{
   			font-size: 1em !important;
   			/* line-height: 0; */
   			border-radius: 7%;
   			padding: 1vh 2vw;
   			width: fit-content;
   			background: red;
   		}

		#nuevoTurno form{display: flex;flex-direction: column;justify-content: center;align-items: center;text-transform: uppercase;margin: 2vh 3vw;width: unset;}

		#nuevoTurno form div {
			margin: 5vh 0vh;
		}

		#nuevoTurno form label {
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;
		}
	}
	/*Height*/
	@media (max-height: 600px) {

	}
